.HomePage {
  line-height: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-top: 0;
  color: #FAFAFA;
  opacity: 0;
  animation: fadeIn 1.0s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
  animation-delay: 0.5s;
}

.Name {
  margin-top: 10vh;
  margin-bottom: 4vh;
  font-family: 'Oswald';
	font-size: 80px;
  font-weight: 550;
  position: relative;
  z-index: 0;
}

.ContactBox {
	padding-top: 7vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-bottom: 5vh;
}

.picContainer {
	justify-content: center;
	align-items: center;
	margin-top: 6px;
	margin-bottom: 10px;
}

.bioCard {
	background-color: rgba(120,120,120,0.2); /*rgba(250, 250, 250, 0.2);*/
	border: 1px rgba(175,170,170,1);
	font-family: 'Montserrat';
	width: 480px;
	font-weight: 600;
	font-size: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
	text-align: center;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	border-radius: 15px;
}

.bioText {
	line-height: 100%;
	margin: 3%;
}

.myPic {
	width: auto;
  height: 30vh;
	border-radius: 50%;
}

.icon {
	padding-left: 25px;
	padding-right: 25px;
	font-size: 60px;
	color: #FAFAFA;
}

.icon:hover {
	animation: bounce 1.5s infinite;
}

@media (max-width: 1024px) {
	.bioCard {
		width: 550px;
		font-size: 22.5px;
	}

	.Name {

	}
}

@media (min-width: 768px) {
	.bioCard {
		width: 400px;
		font-size: 19.5px;
		margin-top: 36px;
	}
	.Name {
		font-size: 96px;
	}
}

@media (max-width: 450px) {
	.bioCard {
		width: 90%;
		font-size: 16px;
	}
}

@media (max-width: 400px) {
	.bioCard {
		width: 90%;
	}

	.Name {
		font-size: 65px;
	}
	
	.icon {
		font-size: 50px;
	}
}

@media (max-width: 360px) {
	.bioCard {
		width: 90%;
		font-size: 15px;
	}
}

@media (max-width: 320px) {
	.bioCard {
		width: 85vw;
		font-size: 14px;
		margin-top: 0;
	}
}
